<html>
  <head>
    <title>Error $resp.Status
    </title>
    <LINK REL=StyleSheet HREF="/style.css" TYPE="text/css" MEDIA=screen/>
  </head>
        
  <body>
    <h1>Error $resp.Status occurred</h1>
    <p>
        An error occurred while trying to fetch the requested
        document.
    </p>
    <p>
      Requested document: <tt>$req.Path</tt>
    </p>

    #if( $req.getHeader("Referer")  )
    <p align="center">Click <a href="$req.getHeader("Referer")">here</a> to return to the previous page.
    #else
    <p align="center">Click <a href="/">here</a> to return to the start page.
    #end
    <hr noshade/>
    <p align="center">Powered by the <a href="http://reattore.sourceforge.net/">Reattore Web Server</a>
    </p>
  </body>
</html>