
<script type='text/javascript'>//<![CDATA[ 

$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container$$_PLOT_CONTAINER_ID_$$',
				marginRight: 100
            },
            title: {
                text: '$$_PLOT_TITLE_$$'
            },
			subtitle: {
                text: '$$_PLOT_SUB_TITLE_$$'
            },
            xAxis: {
                categories: [$$_PLOT_LABELS_$$],
				labels: {
					rotation: 50,
					align: 'left',
					style: {
						font: 'normal 13px Verdana, sans-serif'
					}
				},
				title: {
					text: 'request file',
					align: 'high'
				}
            },
			yAxis: {
				title: {
					text: 'relative performace to average',
					align: 'high'
				}
			},
			tooltip: {
                valueSuffix: ' times faster than average'
            },	
			credits: {
				text: 'Konclude.com',
				href: 'http://www.konclude.com'
			},	
			plotOptions: {
				series: {
					borderColor: '#303030'            
				}, 
				spline: {
                    lineWidth: 4
                }
			},			
			$$_PLOT_COLORS_$$

 
            series: [$$_PLOT_DATA_SERIES_$$]
        });

    });
    
});
//]]>  

</script>
<div id="container$$_PLOT_CONTAINER_ID_$$" style="min-width: 400px; height: 800px; margin: 0 auto"></div>


<p>
Download chart data: <a href="$$_PLOT_DATA_DOWNLOAD_CSV_$$" target="_blank">CSV - FILE</a>, <a href="$$_PLOT_DATA_DOWNLOAD_HTML_$$" target="_blank">HTML - FILE</a>

<BR>
<BR>




